*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

:root{
    --color-primary: #1e1f34;
    --color-secondary: #4c4e73; 
    --color-white: #FFF;
    --color-black: #000;
    --color-tertiary:#3a213a;
    --color-lavender-0: #8e8dc4;
    --color-lavender-1: #c9a4d7;
    --color-lavender-2: #f4c6d9;
    --color-eggshell: #ede8ec;
    --br-sm-2: 14px;
    --box-shadow-1: 0 3px 15px rgba(0,0,0,.3);
}

body {
    background-color: var(--color-primary);
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.1 rem;
    color: var(--color-white);
    transition: all .4s ease-in-out;
}

a{
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

header {
    height: 100vh;
    color: var(--color-white);
    overflow: hidden;
}

section {
    min-height: 100vh;
    width: 100%;
    position:absolute;
    left: 0;
    top: 0;
    padding: 3 rem 18 rem;
}
.section {
    transform: translateY(-100%) scale (0);
    transition: all .4s ease-in-out;
    background-color: var(--color-primary);
}

.sec1{
    display: none;
    transform: translateY(0) scale (1);
}

.sec2{
    display: none;
    transform: translateY(0) scale (1);
}
.sec3{
    display: none;
    transform: translateY(0) scale (1);
}

.sec4{
    display: none;
    transform: translateY(0) scale (1);
}

.sec5{
    display: none;
    transform: translateY(0) scale (1);
}

.active {
    display:block;
    animation: scaleAni 1s ease-in-out;
    @keyframes scaleAnim{
        0%{
        transform: translateY(-100%) scaleY(0)}
        100%{
        transform: translateY(-100%) scaleY(1)
        }
    } 
}
/*Controls*/

.controls {
    position: fixed;
    z-index: 10;
    top: 50%;
    right: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
}
/* .active-btn{
    background-color: var(--color-green-1) !important;
    transition: all .4s ease-in-out;
 } */
.control{
    padding: 1rem;
    cursor: pointer;
    background-color: var(--color-lavender-0);
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .7rem 0;
    box-shadow: var(--box-shadow-1);
}
i{
    font-size: 1.2 rem;
    color: var(--color-eggshell);
    pointer-events: none;
}

/* Header-content*/
.header-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
}
.left-header{
    display: flex;
    align-items: center;
    position: relative;
}
/*
.h-shape{
    transition: all .4s ease-in-out;
    width: 65%;
    height: 100%;
    background-color: var(--color-secondary);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;ß
} 
.image{
    border-radius: var(--br-sm-2);
    height:45%;
    width: 34%;
    margin-left: 4rem;
    transition: all 4.s ease-in-out;
    background-color: var(--color-black);
}*/
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .4s ease-in-out;
    filter: grayscale(100%);
}
.right-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 18rem;
}
.name{
    font-size: 3rem;
}
span{
    color: var(--color-secondary);
}
p{
    margin: 1.5rem 0;
    line-height: 2rem;
}
/*Independent components*/

.btn-container{
    display: flex;
    align-self: flex-start;
}
.main-btn{
    border-radius: 30px;
    font-weight: 600;
    color: inherit;
    position: relative;
    border: 1px solid var(--color-secondary);
    display: flex;
    align-self: flex-start;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.btn-text{
    padding: 0 2rem;
}
.btn-icon{
    background-color: var(--color-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 1rem;
}

.main-title{
    text-align: center;
}
h2{
    position: relative;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 700;
}
span{
    color: var(--color-secondary);
}
.about-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 3.5rem;
    padding-bottom: 5rem;
}
.right-about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}

